@model CreateRoleViewModel

@{
    ViewBag.Title = "New Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-sm-12 col-xl-6">
    <div class="rounded h-100 p-4">
        <h6 class="mb-4">New Role</h6>
        <form asp-action="CreateRole" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="RoleName"></label>
                <input class="form-control" asp-for="RoleName" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Description"></label>
                <input class="form-control" asp-for="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create Role</button>
        </form>
    </div>
</div>