@model EditRoleViewModel

@{
    ViewBag.Title = "Edit Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-12 col-xl-6">
    <div class="rounded h-100 p-4">
        <h6 class="mb-4">Edit Role</h6>
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label class="form-label" asp-for="RoleName"></label>
                <input class="form-control" asp-for="RoleName" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Description"></label>
                <input class="form-control" asp-for="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Roles" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>
<div class="card col-sm-12 col-xl-6">
    <div class="card-header">
        <h6>Users in this role</h6>
    </div>
    <div class="card-body">
        @if (Model.Users != null && Model.Users.Any())
        {
            <ul>
            @foreach (var user in Model.Users)
            {
                <li class="card-title">@user</li>
            }
            </ul>
        }
        else
        {
            <h8 class="card-title">None at the moment</h8>
        }
        <a asp-controller="Admin" asp-action="EditUsersInRole" asp-route-roleId="@Model.Id" class="btn btn-primary">Add or Remove Users From This Role</a>
    </div>
</div>