@model EditUserViewModel

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-12 col-xl-6">
    <div class="rounded h-100 p-4">
        <h6 class="mb-4">Edit User</h6>
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="UserName"></label>
                <input class="form-control" asp-for="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Users" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h6>User Roles</h6>
    </div>
    <div class="card-body">
        @if (Model.Roles.Any())
        {
            <ul>
            @foreach (var role in Model.Roles)
            {
                <li class="card-title">@role</li>
            }
            </ul>
        }
        else
        {
            <h8 class="card-title">None at the moment</h8>
        }
        <a asp-action="ManageUserRoles" asp-controller="Admin" style="width:auto" asp-route-UserId="@Model.Id" class="btn btn-primary">Manage Roles</a>
    </div>
</div>